<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WattsUp | Moje chaty</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <% if (locals.message) { %>
        <div class="message <%= locals.type %>"><%= locals.message %></div>
    <% } %>

    <h1>Seznam chatů</h1>

    <form action="/chats" method="post">
        <input type="text" name="name" placeholder="Název nového chatu..." required>
        <button type="submit">Vytvořit chat</button>
    </form>

    <ul>
        <% locals.chats.forEach(function(chat) { %>
            <li>
                <strong><a href="/chat/<%= chat.id %>"><%= chat.name %></a></strong>
            </li>
        <% }); %>
    </ul>
</body>
</html>